<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Meu projeto</title>

        {% bootsrap_css %} 
        {% bootsrap_javascript %} 
    </head>
    <body>
        <nav>
          
            <div>
                <div>
                    <button>

                    </button>
                    <a href="{% url 'index' %}">Primeiro programa</a><br>
                
            </div>

                <div>

                    <ul>
                        <a href="{% url 'topics' %}">Tópicos</a>
                    </ul>

                    <ul>
                        {% if user.is_authenticated %}
                            Olá, {{ user.username }}
                            <li><a href="{% url 'logout' %}">Sair</a></li>
                        {% else %}
                            <li><a href="{% url 'register' %}">Registrar</a></li>
                            <li><a href="{% url 'login' %}">Entrar</a></li>
                            
                        {% endif %}
                    </ul>


                        {% block content  %}{% endblock content %}
                <div>
            </div>
        </nav>
    </body>